<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">

    <title>
        {% block titulo %}
        FakePinterest
        {% endblock%}
    </title>
</head>

{% block body %}
    <body>

    <h1>FakePinterest - Meu Primeiro Site no ar</h1>

    <h2>Vamos continuar o site</h2>
    {% block formulario %}
    <form method="POST">

        {{ form.csrf_token }}

        {{form.email.label()}}
        {{form.email()}}

        {{form.senha.label()}}
        {{form.senha()}}

        {{form.botao_confirmacao()}}

    </form>
    {% endblock %}
</body>

{% endblock %}
</html>